# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignorer les fichiers sensibles
*.env
*.sqlite
db.json

# Ignorer les fichiers de build
build/

# Ignorer les fichiers de cache et de couverture de tests
.cache/
coverage/

# Ignorer les fichiers système Windows
Thumbs.db

