
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Roboto", sans-serif;
}

.dark-theme {
  background-color: #121212;
  color: #ffffff;
  transition: all 0.3s ease;
}

.light-theme {
  background-color: #f5f5f5;
  color: #000000;
  transition: all 0.3s ease;
}